.articlebutton {
    appaerance: none;
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

.articlecontainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.articlemodal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.15);
    border-radius: 10px;
}

.articlemodal__articleheader {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articlemodal__articlebody {
    padding: 1rem 1rem;
}

.articlemodal__articlefooter {
    padding: 0 1.5rem 1.5rem;
}

.articlemodal__articletitle {
    font-weight: 700;
    font-size: 1.25rem;
}

.articlebutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.articlebutton--articleicon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
}

    .articlebutton--articleicon:focus, .articlebutton--articleicon:hover {
        background-color: #ededed;
    }

.articlebutton--articleprimary {
    background-color: #007dab;
    color: #FFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
}

    .articlebutton--articleprimary:hover {
        background-color: #006489;
    }

.articleinput {
    display: flex;
    flex-direction: column;
}

    .articleinput + .articleinput {
        margin-top: 1.75rem;
    }

.articleinput__articlelabel {
    font-weight: 700;
    font-size: 0.875rem;
}

.articleinput__articlefield {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
}

    .articleinput__articlefield:focus {
        outline: none;
        border-color: #007dab;
        box-shadow: 0 0 0 1px #007dab, 0 0 0 4px rgba(0, 125, 171, 0.25);
    }

.articleinput__articlefield--articletextarea {
    min-height: 100px;
    max-width: 100%;
}

.articleinput__articledescription {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #8d8d8d;
}
.articlepiccontainer {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.articleheader {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .articleheader svg {
        height: 100px;
    }

    .header p {
        text-align: center;
        color: black;
    }

.footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

    .footer svg {
        height: 130%;
        fill: royalblue;
        background-color: rgba(70, 66, 66, 0.103);
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
    }

    .footer p {
        flex: 1;
        text-align: center;
    }

#file {
    display: none;
}