@using InterestsAcademy.Core.Models.Course
@model CourseQueryModel


<div class="main-block">
	<div class="left-part">
		<i class="fas fa-graduation-cap"></i>
		<h1>Добави курс</h1>
	</div>
	<form class="form-container" asp-action="Add" method="post" enctype="multipart/form-data" novalidate>
		<div class="title">
			<i class="fas fa-pencil-alt"></i>
			<h2>Добавете детайли за курса</h2>
		</div>
		<div class="info">
			<div class="form-group">
				<label for="Name">Име на курса:</label>
				<input type="text" id="Name" name="Name" class="input-field" asp-for="Name" required />
			</div>
			<div class="form-group" style="    margin-bottom: 30px;
            margin-top: 0;">
				<label for="Description">Описание:</label>
				<textarea id="Description" style="    margin-bottom: 0;" name="Description" class="input-field textarea-field" asp-for="Description" required></textarea>
			</div>
			<div class="form-group">
				<label for="Duration">Продължителност:</label>
				<input type="text" style="width: 40%;" id="Duration" name="Duration" class="input-field" asp-for="Duration" required />
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn1" asp-action="Add" asp-controller="Course">Добави</button>
		</div>
	</form>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/addCourse.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

}
