@using InterestsAcademy.Core.Models.Course
@model List<CourseCardViewModel>


<section id="team" class="pb-5" style="min-height: 44em;">
	<div class="container">
		<h5 class="section-title h1" style="text-align:center; padding:16px 10px">Всички курсове</h5>
		<div class="row">

			@foreach (var course in Model)
			{


				<partial name="_CourseCardPartial" model=course />



			}

		</div>
	</div>
</section>

@section Styles {
	<link rel="stylesheet" href="~/css/courseCard.css" asp-append-version="true" />
	}

@section Scripts {
	
}


