@using InterestsAcademy.Core.Models.Course
@model List<CourseCardViewModel>


<section id="team" class="pb-5">
	<div class="container">
		<h5 class="section-title h1">Всички курсове</h5>
		<div class="row">

			@if (User.IsInRole("Teacher"))
			{
				<div class="col-xs-12 col-sm-6 col-md-4" >
					<div>
						<div>
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
										<h4 class="card-title"></h4>
										<p class="card-text"></p>
										<a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm" style="    margin-top: 3.5em;" asp-action="Add" asp-controller="Course"><i class="fa fa-plus" style="padding:2em;"></i></a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			}


			@foreach (var course in Model)
			{
				<div class="col-md-4">
					

							<partial name="_CourseCardPartial" model="@course" />

						
				</div>
			}

		</div>
	</div>
</section>


@section Styles {
	<link rel="stylesheet" href="~/css/courseCard.css" asp-append-version="true" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
}

@section Scripts {
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}
