@using InterestsAcademy.Core.Models.Donation
@model FilterDonationViewModel



<div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 04-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
	<div class="overlay"></div>
	<div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
	</div>
</div>


<h1 style="justify-self:center;">Дарения</h1>
<div class="categories">
	<div class="category">
		<img src="~/img/all.png" alt="Всичко">
		<p>Всичко</p>
	</div>
	<div class="category">
		<img src="~/img/biology.png" alt="Медицина">
		<p>Биология и Химия</p>
	</div>
	<div class="category">
		<img src="~/img/phisiscs.png" alt="Семейство">
		<p>Физика и Астриномия</p>
	</div>
	<div class="category">
		<img src="~/img/art.png" alt="Животни">
		<p>Музика и Изкуство</p>
	</div>
	<div class="category">
		<img src="~/img/it.png" alt="COVID-19">
		<p>Информатика и роботика</p>
	</div>
	<div class="category">
		<img src="~/img/sports.png" alt="Спорт">
		<p>Спорт</p>
	</div>
	<div class="category">
		<img src="~/img/other.png" alt="COVID-19">
		<p>Други</p>
	</div>
</div>


<section class="items">

	@foreach (var item in Model.Donations)
	{
		<div id="item">
			<div class="card">
				<input type="hidden" value="@item.Id" id="itemId" />
				<div class="card-details">
					<p class="text-title">@item.ItemName</p>
					<p class="text-body">Количество: @item.Quantity</p>
				</div>
				<button class="card-button">Дари</button>
			</div>


		</div>
	}

</section>




@section Styles {
	<link rel="stylesheet" href="~/css/donation.css" asp-append-version="true" />
}