@using InterestsAcademy.Core.Models.Course
@model CourseCardViewModel

<div class="room-card">
    <div class="room-icon">
        <img src="https://via.placeholder.com/64" alt="Room Icon">
    </div>
    <div class="room-details">
        <h3 class="room-title">@Model.Name</h3>
        <div class="room-icons">
            <span class="icon lock" title="Locked Room">🔒</span>
            <span class="icon clipboard" title="Assignments">📋</span>
            <span class="icon edit" title="Edit Room">✏️</span>
        </div>
        
        @if (User.IsInRole("Teacher"))
        {
            <div>
                <a asp-action="All" asp-controller="Request" asp-route-courseId="@Model.Id" class="btn btn-outline-dark">Заявки</a>
                
                 <a asp-action="Edit" asp-controller="Course" asp-route-courseId="@Model.Id" class="btn btn-outline-dark">Редактиране</a>

                <a asp-action="All" asp-controller="Activity" asp-route-courseId="@Model.Id" class="btn btn-outline-dark">График</a>
            </div>
        }
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/courseCard.css" asp-append-version="true" />
}