@using InterestsAcademy.Data.Models
@using InterestsAcademy.Extensions
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="login">
@if (SignInManager.IsSignedIn(User))
{
        <li style="list-style-type: none; align-content: center;">
            @if(!User.IsInRole("Admin"))
            {
        <a asp-area="" asp-action="MyProfile" asp-controller="Profile" asp-route-userId="@User.GetId()" title="Manage">Зравей, @User.Identity?.Name!</a>
            }
            else
            {
                <a title="Manage">Зравей, @User.Identity?.Name!</a>
            }
    </li>
        <li style="list-style-type: none;">
            <a type="submit" asp-area="" asp-action="Logout" asp-controller="Account">Излез</a>
        
    </li>
}
else
{
        <li style="list-style-type: none;">
        <a  asp-area="" asp-action="Register" asp-controller="Account">Регистрация</a>
    </li>
        <li style="list-style-type: none;">
        <a  asp-area="" asp-action="Login" asp-controller="Account">Вход</a>
    </li>
}
</ul>
