@{
    ViewData["Title"] = "Home Page";
}

     


<section id="hero" class="text-white d-flex align-items-center justify-content-center"
         style="background-color: black; min-height: 100vh;">
    <div id="hero-carousel" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/img/openart-5b6bf258-5ef7-4d67-b63e-64276fc4591c.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 02-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                   
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 04-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 06-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                  
                </div>
            </div>

           
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

 <section>
    <div class="slider--cards">
        <div class="slider--cards__container">
            <ul id="card-list" class="cf">

                <li>
                    <figure class="card active">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Tony Stark</p>
                            <p class="profile">CTO</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Natasha Romanoff</p>
                            <p class="profile">Security</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Bruce Banner</p>
                            <p class="profile">Lead Scientist</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card ">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card ">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>

            </ul>
        </div>
    </div>

</section> 


 

@section Styles {
     <link rel="stylesheet" href="~/css/styles2.css" asp-append-version="true" /> 
     <link rel="stylesheet" href="~/css/teamcards.css" asp-append-version="true" /> 
}
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/teamcards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script>

}