@{
    ViewData["Title"] = "Home Page";
}

     


<section id="hero" class="text-white d-flex align-items-center justify-content-center"
         style="background-color: black; min-height: 100vh;">
    <div id="hero-carousel" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/img/openart-5b6bf258-5ef7-4d67-b63e-64276fc4591c.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 02-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                   
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 04-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 06-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                  
                </div>
            </div>

           
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> 
<section style="width: 100%" >
    <div class="box">
        <input type="radio" name="dot" id="one">
        <input type="radio" name="dot" id="two">
        <div class="main-card">
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/Screenshot 2025-02-13 123342.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Вероника Коева </div>
                            <div class="job">Председател на СНЦ “Естествен Интелект”; Учредител</div>
                        </div>
                       @*  <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/NiklaySpirov.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Николай Спиров</div>
                            <div class="job">Главен инициатор и Учредител;</div>
                        </div>
                        @* <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/MihaelaIvanova.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Михаела Иванова</div>
                            <div class="job">Човешки ресурси; Учредител и член на УС</div>
                        </div>
                       @*  <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/BeloslavBelchev.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Белослав Белчев</div>
                            <div class="job">
                                Учредител и член на УС; Учредител Фондация “ТЕО”
                            </div>
                        </div>
                        @* <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/DesislavaTineva.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Десислава Тинева</div>
                            <div class="job"> Учредител и член на КС</div>
                        </div>
                        @* <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="img">
                            <img src="~/img/DanielaSeverinova.png" alt="">
                        </div>
                        <div class="details">
                            <div class="name">Даниела Северинова</div>
                            <div class="job">Образователен експерт и консултант; Учредител и автор Концепция</div>
                        </div>
                        @* <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <label for="one" class=" active one"></label>
            <label for="two" class="two"></label>
        </div>
    </div>

</section>
   

@section Styles {
      <link rel="stylesheet" href="~/css/styles2.css" asp-append-version="true" /> 
      <link rel="stylesheet" href="~/css/teamcards.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
}
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

}