@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/styles2.css" />

<section id="hero" class="text-white d-flex align-items-end justify-content-start"
         style="background-image: url('@Url.Content("~/img/openart-5b6bf258-5ef7-4d67-b63e-64276fc4591c.png")');
                background-size: cover; background-position: center; min-height: 100vh;">
    <div class="overlay"></div>
    <div class="container pb-5 ps-5">
        <h1 class="display-3 fw-bold mb-3">Академия за таланти</h1>
        <p class="lead mb-4">Развиваме таланти за едно по-добро утре</p>
        <a asp-controller="Home" asp-action="About" class="btn btn-primary btn-lg">Научете повече</a>
    </div>
</section>

<!-- Timeline Section -->
<section id="timeline" class="py-5">
    <div class="container">
        <h2 class="pb-3 border-bottom mb-5">Разходка във врeмето</h2>
        <!-- Timeline Items -->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-6">
                <p>Историята на Академията започва през далечната 1912 година, когато местната общност в с. Розово решава да основе училище “Св. Св. Кирил и Методий” с амбицията да възпита будно младо поколение. Със съвместни усилия се събират средствата за изграждането на училището и то отваря врати през 1912 г. За негов строител и основател се счита Минчо Бонев.  </p>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <p>
                    В началото то изпълнява функция на четирикласно училище с няколко кабинета, учителска стая, физкултурен салон и стая за помагала. През 1922 г. се заражда идеята училището да бъде превърнато в прогимназия и поради големия интерес сградата започва да отеснява. Поради липса на класни стаи в училищната сграда, учебните занимания се помещават в занаятчийски работилници на местни търговци.
                </p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-6">
                <p>За да се създадат подходящи условия за нуждите на прогимназията, през 1997 г. е реализиран проект по преустройството на двуетажна сграда със специализирани кабинети във вида, в който я виждаме днес. По записки, открити в читалището в село Розово, местната общност е изпитвала голям сентимент към образователния център и е подкрепяла активно изграждането и опазването му. Сградата оперира в този вид и възпита поколения будни розовци до закриването си през 2009 г.</p>
            </div>
        </div>
    </div>
</section>
