@{
    ViewData["Title"] = "Home Page";
}

     


<section id="hero" class="text-white d-flex align-items-center justify-content-center"
         style="background-color: black; min-height: 100vh;">
    <div id="hero-carousel" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('@Url.Content("~/img/openart-5b6bf258-5ef7-4d67-b63e-64276fc4591c.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    <h1 class="display-3 fw-bold mb-3">Академия за таланти</h1>
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 02-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    <h1 class="display-3 fw-bold mb-3">Академия за таланти</h1>
                   
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 04-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    <h1 class="display-3 fw-bold mb-3">Академия за таланти</h1>
                    
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('@Url.Content("~/img/PAGE - 06-1.png")'); background-size: cover; background-position: center; min-height: 100vh;">
                <div class="overlay"></div>
                <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white">
                    <h1 class="display-3 fw-bold mb-3">Академия за таланти</h1>
                  
                </div>
            </div>

           
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

 <section>
    <div class="slider--cards">
        <div class="slider--cards__container">
            <ul id="card-list" class="cf">

                <li>
                    <figure class="card active">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Pepper Potts</p>
                            <p class="profile">CEO</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Tony Stark</p>
                            <p class="profile">CTO</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Natasha Romanoff</p>
                            <p class="profile">Security</p>
                        </figcaption>
                    </figure>
                </li>

                <li>
                    <figure class="card">
                        <div class="profileImage">
                            <img src="https://via.placeholder.com/170" alt="Profile">
                        </div>
                        <figcaption class="textContainer">
                            <p class="name">Bruce Banner</p>
                            <p class="profile">Lead Scientist</p>
                        </figcaption>
                    </figure>
                </li>

            </ul>
        </div>
    </div>

</section>
 

 @* <section id="timeline" class="py-5">
    <div class="container">
        <h2 class="pb-3 border-bottom mb-5">Разходка във врeмето</h2>
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-6">
                <p>Историята на Академията започва през далечната 1912 година, когато местната общност в с. Розово решава да основе училище “Св. Св. Кирил и Методий” с амбицията да възпита будно младо поколение. Със съвместни усилия се събират средствата за изграждането на училището и то отваря врати през 1912 г. За негов строител и основател се счита Минчо Бонев.  </p>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <p>
                    В началото то изпълнява функция на четирикласно училище с няколко кабинета, учителска стая, физкултурен салон и стая за помагала. През 1922 г. се заражда идеята училището да бъде превърнато в прогимназия и поради големия интерес сградата започва да отеснява. Поради липса на класни стаи в училищната сграда, учебните занимания се помещават в занаятчийски работилници на местни търговци.
                </p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-6">
                <p>За да се създадат подходящи условия за нуждите на прогимназията, през 1997 г. е реализиран проект по преустройството на двуетажна сграда със специализирани кабинети във вида, в който я виждаме днес. По записки, открити в читалището в село Розово, местната общност е изпитвала голям сентимент към образователния център и е подкрепяла активно изграждането и опазването му. Сградата оперира в този вид и възпита поколения будни розовци до закриването си през 2009 г.</p>
            </div>
        </div>
    </div>
</section>*@

@section Styles {
@*     <link rel="stylesheet" href="~/css/styles2.css" asp-append-version="true" /> 
 *@    <link rel="stylesheet" href="~/css/teamcards.css" asp-append-version="true" /> 
}
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/teamcards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script>

}