<div class="container">
   @*  <!-- Лява секция: Автори -->
    <div class="left">
        <h2>Автори</h2>
        <div class="author">
            <img src="~/img/DanielaSeverinova.png" alt="Даниела Северинова">
            <p>Даниела Северинова</p>
        </div>
        <div class="author">
            <img src="~/img/ReniKaranikolova.png" alt="Рени Караниколова">
            <p>Рени Караниколова</p>
        </div>
    </div> *@

    <!-- Дясна секция: Проект и концепция -->
    <div class="right">
        <h2>Проект и концепция</h2>
        <p>В графичен и табличен вариант представяме обобщен анализ на многообразието от идеи, които гражданите на Община Казанлък са предложили. Някои от тях, по стечение на обстоятелствата, не са залегнали в разработената концепция, но местната власт би могла да ги реализира като допълнителни проекти.</p>

        <!-- Диаграма (изображение) -->
        <img class="chart" src="~/img/chart.png" alt="Диаграма">

        <!-- Таблица с категории -->
        <table>
            <thead>
                <tr>
                    <th>СПОРТ (27%)</th>
                    <th>ИЗКУСТВА (17%)</th>
                    <th>НАУКИ (16%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Походи в планината</td>
                    <td>Театрален клуб</td>
                    <td>Клуб на изобретателите</td>
                </tr>
                <tr>
                    <td>Ориентиране и търсене на съкровища</td>
                    <td>Обучение по танцово изкуство</td>
                    <td>История чрез творчество</td>
                </tr>
            </tbody>
        </table>

        <p>
            Във връзка с изпълнението на поетия ангажимент за изготвяне на Концепция за дейността на „Академия за таланти“ и убеждението, че гражданското мнение е от особено значение за бъдещето на този проект, сформирахме работна група за генериране на идеи относно заниманията в бъдещата Академия.

            Събитието се проведе на 14 април 2022 г. в Младежкия дом в гр. Казанлък и в него участваха представители на местната власт, бизнеса, обществените институции и ученици. Участниците обсъждаха различни идеи, разделени в общо 6 тематични блока, така че всяка група да има представител от различните общности и по този начин да покрием пълен спектър от гледни точки.

            Всеки екип представи своите предложения в областите култура, изкуства, земеделие и туризъм, които да заемат водещо внимание при организирането на настоящата и бъдеща дейност. Участниците изказаха своето мнение, обединявайки се около виждането, че независимо от това кои дейности ще влязат в академията, е желателно те да бъдат насочени към овладяването на традиционни училищни дейности с практическа нагласа, да се провеждат в своята дълбочина и цялостност, с представяне на реални резултати и, не на последно място, да взаимодействат помежду си.

        </p>

        <!-- Галерия с изображения -->
        <div class="gallery">
            <img src="~/img/project1.jpeg" alt="Работна среща">
            <img src="~/img/project4.png" alt="Обсъждане на идеи">
            <img src="~/img/project2.jpeg" alt="Презентация">
            <img src="~/img/project5.png" alt="Презентация">
            <img src="~/img/project3.png" alt="Презентация">
        </div>
    </div>
</div>

            @section Styles{
                <link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />
            }