<section class="authors">
    <h2>Автори</h2>
    <div class="author">
        <img src="daniela.jpg" alt="Даниела Северинова">
        <p>Даниела Северинова</p>
    </div>
    <div class="author">
        <img src="reni.jpg" alt="Рени Караниколова">
        <p>Рени Караниколова</p>
    </div>
</section>

<section class="project">
    <h2>Проект и концепция</h2>
    <p>В графичен и табличен вариант представяме...</p>
    <img src="piechart.png" alt="Идеи в общи категории" class="pie-chart">

    <table>
        <tr>
            <th>СПОРТ (27%)</th>
            <th>ИЗКУСТВА (17%)</th>
            <th>НАУКИ (16%)</th>
        </tr>
        <tr>
            <td>Походи в планината</td>
            <td>Театрален клуб</td>
            <td>Клуб на изобретателите</td>
        </tr>
        <tr>
            <td>Ориентиране и хербарии</td>
            <td>Танцова школа</td>
            <td>История и науки</td>
        </tr>
    </table>
</section>

<section class="gallery">
    <img src="meeting.jpg" alt="Среща">
    <img src="discussion.jpg" alt="Дискусия">
    <img src="students.jpg" alt="Ученици">
</section>
@section Styles {
    
    <link rel="stylesheet" href="~/css/pandc.css" asp-append-version="true" />
}